@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron my-5">
    <h3>Proyecto Analisis de Sistemas 2<br /><strong>Panaderia El Buen Pan</strong></h3>
    <h4>Integrantes:</h4>
    <ul class="lead">
        <li>
            Jose Eduardo Amaya
        </li>
        <li>
            Mario Javier Minches
        </li>
        <li>
            Ericka del Rosario Gonzalez
        </li>
        <li>
            Cindy Marisol Arana
        </li>
        <li>
            Rodrigo Vasquez
        </li>
    </ul>
</div>

